@use '../mixins/breakpoints' as *;

.header {
  display: flex;
  align-items: flex-start;

  margin-top: var(--space-s-l);
  padding-inline: var(--space-s-l);

  &__navbar.active + &__overlay {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;

    background: #151515;
    mix-blend-mode: normal;
    opacity: 0.75;
    z-index: 1;
  }

  &__logo {
    flex-shrink: 0;
  }

  &__navbar {
    flex-grow: 1;

    z-index: 111;
  }

  @include breakpoint(tablet) {
    & {
      gap: var(--space-3xs-xl);
      align-items: center;

      margin-bottom: 8rem;
    }
  }

  // wrap when menu and logo get to close and cause each other to shrink
  @include breakpoint-custom(9.3125rem) {
    & {
      align-items: center;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
